
.wrapper {
  max-width: 100%;
  /* height: auto; */
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

/* Navbar  */
.nav_wrapper {
  width: 100%;
  background-color: var(--bg-nav);
  max-width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}
.navbar_logo_wrapper {
  height: 40px;
  width: 40px;
}
.mobile_menu {
  display: block;
   
 
}

.mobile_menu svg{
  color: #fff;
}


/* propertise bigger screens shouldnt inherit */
@media (max-width: 500px) {
  .nav_options {
    display: flex;
    width: 100%;
    height: calc(50vh - 55px);
    position: absolute;
    top: 64px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style: none;
    /* background-color: #ffffff; */
    font-size: 24px;
    align-items: center;
    font-weight: 500;
    padding-left: 0px;
    justify-content: space-around;
  }
  .nav_options_active {
    background-color: var(--background-color);
    left: 0;
    opacity: 1;
    z-index: 1;
    margin-top: 0;
    color: #fff;
  }
  .navbar_logo_wrapper {
    height: 32px;
    width: 32px;
  }
}

@media (min-width: 501px) {
  .nav_wrapper {
    height: 70px;
  }
  .navbar {
    height: auto;
    max-width: 1366px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .link {
    color: #fff;
    font-weight: 700;
    font-size: larger;
  }

  .nav_options {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    padding-right: 20px;
  }
  .nav_options a {
    color: #fff;
  }

  .mobile_menu {
    display: none;
  }


}
/* hero animation */
.area {
  width: 97%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.circles {
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.4;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Hero section */

.content_wrapper {
  width: 95%;
  height: auto;
}

.hero_section {
  width: 100%;
  height: calc(80vh - 55px);
  line-height: 1.3;
}

.hero_section_info {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project_link{
  width: 100%;
  /* border: 1px solid white; */
  display: grid;
  place-items: center;
  z-index: 1000;

}
.project_link ul{
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  /* border: 1px solid red; */
  justify-content: space-around;
  

}
.project_link li {
  list-style: none;
  /* color: var(--purple); */
  color: #36B37E;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 18px;
}
.project_link a {
  padding: 24px
}


.hero_section_info h1 {
  text-align: center;
  font-family: var(--font-header);
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  margin-top: -30px;
}
.hero_section_info b {
  color: #36B37E;
}
.hero_section_info span{
  color: #6554C0;
}
.hero_section p{
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 28px;
}

.social_section {
  margin-top: 24px;
  width: 200px;
  display: none;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.social_icon {
  height: 30px;
  width: 30px;
  padding-right: 10px;

  opacity: 0.9;
}
.social_resume {
  color: #6554C0;
  font-weight: 600;
}

/* Larger screens */
@media (min-width: 501px) {
  .content_wrapper {
    max-width: 1366px;
  }
  .hero_section {
    width: 95%;
    height: calc(90vh - 70px);
    padding: 0;
  }

  .hero_section_info {
    width: 100%;
  }
  .hero_section_info h1 {
    font-size: 30px;
    width: 80%;
    line-height: 1.3;
    letter-spacing: 0.2px;
  }
  .hero_section p{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 28px;
  }
  .project_link{
    width: 60%;
   
  
  }
  .project_link li{
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

  .project_link li :hover{
    color: #6554C0;
  }

  .social_icon {
    height: 40px;
    width: 40px;
    padding-right: 10px;
    opacity: 0.6;
  }
  .social_icon:hover {
    opacity: 1;
    transform: translateY(-5px);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  .social_section {
    width: 300px;
    margin-bottom: 8px;
  }
  .social_resume {
    font-size: 18px;
  }
}

/*  Project section */
.project_section {
  height: auto;
  padding-bottom: 25px;
  margin-top: 48px;
}
.project_section h2 {
  padding-top: 15px;
  font-size: 18px;
}

.projects_wrapper {
  padding: 20px 20px 20px 20px;
  background-color: #172B4D;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project {
  
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 6px;
}
.project h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
}
.project a{
  text-decoration: none;
}

.project p {
  margin-top: 0;
  /* font-family: "Roboto", sans-serif; */
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.project_image {
  height: 150px;
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
  /* background-color: #0a0a0a !important; */
  /* border-radius: 4px; */
}

.project_tags {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.tag {
  background-color: #091E42;
  margin-right: 10px;
  border-radius: 30px 30px 30px 30px;
  padding: 8px;
  font-size: 12px;
  margin: 2px;
  color: white;
  letter-spacing: 1px;
}

.project_header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.project_header h3 {
  color: var(--font-color-body);
}

.live_link {
  display: flex;
  align-items: center;
  width: 18%;
  justify-content: space-between;
}
.live_link i {
  width: 16px;
  height: 12px;
}

.live_link p {
  margin: 0;
}
.live_link p a {
  font-size: 16px;
  /* text-decoration: underline; */
  /* letter-spacing: 2.5px; */
  color: var(--green);
}
.project a {
  font-size: 12px;
  color: var(--font-color-body);
  /* text-decoration: underline; */
}

@media (min-width: 501px) {
  .live_link {
    width: 15%;
  }
  .live_link p a {
    font-size: 14px;
  }
  .project a {
    font-size: 14px;
  }


}

/* Larger screens */
@media (min-width: 501px) {
  .projects_section {
    padding-bottom: 50px;
  }
  .project_section h2 {
    font-size: 30px;
  }
  .projects_wrapper {
    width: 100%;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .project {
    width: 100%;
    min-width: 50%;
    padding: 10px;
  }
  .project_image {
    width: 100%;
    height: 150px;
    margin-bottom: 24px;
  }
  .project p {
    font-size: 14px;
  }
  .project h3 {
    font-size: 16px;
  }
  .tag {
    margin-right: 12px;
    border-radius: 30px 30px 30px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    margin-right: 2px;
    margin-bottom: 2px;
    color: #c4dfff;
  }
}

/* About section */

.about_wrapper {
  border-radius: 6px;
  margin-top: 32px;

  padding: 15px;
  padding-bottom: 64px;

  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
.about_wrapper h3 {
  font-size: 18px;
  color: #1a2238;
}
.about_info {
  margin-top: 70px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_image_wrapper {
  background-image: url('/round-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;

  height: 180px;
  width: 180px;
  display: grid;
  place-items: center;
  position: relative;
}
.about_image {
  width: 138px;
  height: 138px;
  /* border-radius: 50%; */
  overflow: hidden;
  background-color: #e3e3e3;
  /* border: 8px solid var(--orange); */

  /* border: var(--tag-text-color) solid 2px; */
}

/* .about_image::before {
  content: " ";
  display: block;
  position: absolute;
  background-color: yellow;
  width: 65%;
  height: 65%;
  border-radius: 100%;
  border: 50%;
  top: 40px;
  left: 25px;
  z-index: 0;
  border: 8px solid var(--orange);
  opacity: 0.6;
} */
.about_photo {
  height: 100%;
  width: 100%;
  z-index: 1;
}


.about_details p {
  margin-top: 28px;
  font-family: var(--font-body);
  letter-spacing: -0.2;
  color: #172B4D;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.9 ;
}
.skills {
  color: var(--green);
}



.image_icons {
  position: absolute;
}
.react {
  animation: icon_animation 25s linear infinite;
}
@keyframes icon_animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}
.image {
  border-radius: 50%;
}
.triangle {
  width: 22px;
  height: 19px;
  left: 10px;
  top: 10px;
  opacity: 0.9;
}
.orange {
  width: 11px;
  height: 10px;
  right: 20px;
  top: 20px;
  animation: none;
  opacity: 0.6;
}
.blue_circle {
  width: 15px;
  height: 15px;
  right: 0;
  opacity: 0.4;
  bottom: 35px;
}
.blue_triangle {
  width: 6px;
  height: 5px;
  left: 0;
  bottom: 35px;
}
.blog {
  color: #e03855;
  text-decoration: underline;
}

@media (min-width: 501px) {
  .about_wrapper {
    padding: 20px;
    display: grid;
    place-items: center;
  }
  .about_wrapper h3 {
    font-size: 30px;
    /* margin-left: 30px; */
    margin-top: 70px;
  }
  .about_info {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 0;

    justify-content: center;
    flex-direction: row;
    flex-flow: row-reverse;
    height: 500px;
  }
  .about_image_wrapper {
    height: 330px;
    width: 330px;
  }
  .about_image {
    width: 280px;
    height: 280px;
    /* border: var(--tag-text-color) solid 4px; */
  }
  /* .about_image::before {
    content: " ";
    display: block;
    position: absolute; */
  /* background-color: yellow; */
  /* width: 80%;
    height: 80%;
    border-radius: 100%;
    border: 50%;
    top: 46px;
    left: 37px;
    z-index: 0;
    border: 8px solid var(--orange);
  } */
  .about_details {
    width: 70%;
    /* margin-right: 32px; */
    /* text-align: start; */
  }
  .about_details p {
   /* line-height: 1.5;

    letter-spacing: 0.3px;
    font-size: 18px;
    opacity: 1; */
    font-size: 16px;
    line-height: 24px;
  }

  .triangle {
    width: 38px;
    height: 33px;
    top: 10px;
    left: 10px;
    opacity: 0.5;
  }
  .orange {
    width: 16px;
    height: 16px;
    opacity: 0.4;
  }
  .blue_circle {
    width: 25px;
    height: 25px;
    opacity: 0.3;
  }
  .blue_triangle {
    width: 12px;
    height: 11px;
    opacity: 0.7;
  }
}

/* Footer */
.footer {
 
  height: 150px;
  width: 100%;
  color: white;
  display: grid;
  place-items: center;
}
.footer p a {
  text-decoration: underline;
  color: #fff !important;
  margin-left: 12px;
}
