.wrapper {
  max-width: 100%;
  height: auto;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: orange; */
  scroll-behavior: smooth;
}

/* Navbar  */
.nav_wrapper {
  width: 100%;
  background-color: #ffffff;
  max-width: 100%;
  height: 55px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
  /* background-color: var(--background-color); */
  /* border: 1px solid black; */
}
.navbar {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}
.navbar_logo_wrapper {
  height: 40px;
  width: 40px;
}
.mobile_menu {
  display: block;
}

/* propertise bigger screens shouldnt inherit */
@media (max-width: 500px) {
  .nav_options {
    display: flex;
    width: 100%;
    height: calc(50vh - 55px);
    position: absolute;
    top: 64px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style: none;
    background-color: #ffffff;
    font-size: 24px;
    align-items: center;
    font-weight: 500;
    padding-left: 0px;
    justify-content: space-around;
  }
  .nav_options_active {
    left: 0;
    opacity: 1;
    z-index: 1;
    margin-top: 0;
  }
  .navbar_logo_wrapper {
    height: 32px;
    width: 32px;
  }
}

@media (min-width: 501px) {
  .nav_wrapper {
    height: 70px;
  }
  .navbar {
    height: auto;
    max-width: 1366px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .link {
    color: #1a2238;
    font-weight: 700;
    font-size: larger;
  }

  .nav_options {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    padding-right: 20px;
  }
  .nav_options a {
    color: #1a2238;
  }

  .mobile_menu {
    display: none;
  }
}

/* Hero section */

.content_wrapper {
  /* border: 1px solid rgb(13, 163, 43); */
  width: 95%;
  height: auto;
  /* background-color: green; */
}

.hero_section {
  /* border: 1px solid black; */
  width: 100%;
  height: calc(90vh - 55px);
  line-height: 1.6;
  /* padding-right: 15px;
  padding-left: 15px; */
}

.hero_section_info {
  /* border: 1px solid rgb(235, 23, 23); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_section_info h1 {
  font-family: var(--font-header);
  font-weight: 800;
  font-size: 24px;
  /* border: 1px solid rgb(235, 23, 23); */
  padding: 0;
  margin-top: -30px;
}
.hero_section_info b {
  color: #00ac7c;
}

.social_section {
  margin-top: 24px;
  width: 200px;
  display: none;
  display: flex;
  justify-content: space-between;
}
.social_icon {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}

/* Larger screens */
@media (min-width: 501px) {
  .content_wrapper {
    /* display: grid;
    place-items: center; */
    max-width: 1366px;
  }
  .hero_section {
    width: 95%;
    height: calc(100vh - 70px);
    padding: 0;
  }

  .hero_section_info {
    width: 100%;
  }
  .hero_section_info h1 {
    font-size: 40px;
    width: 80%;
    line-height: 1.6;
    letter-spacing: 0.1em;
  }

  .social_icon {
    height: 40px;
    width: 40px;
    padding-right: 10px;
  }

  .social_section {
    width: 300px;
  }
}

/*  Project section */
.project_section {
  /* background-color: rgb(212, 211, 211); */
  height: auto;
  padding-bottom: 25px;
}
.project_section h2 {
  padding-top: 15px;
  font-size: 18px;
}

.projects_wrapper {
  /* border: rgb(255, 23, 62) solid 1px; */
  padding: 20px 20px 20px 20px;
  background-color: var(--background-color);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project {
  /* border: solid black 1px; */
  padding: 10px;
  margin-bottom: 30px;
  /* background-color: var(--project-card-bg); */
  border-radius: 6px;
}
.project h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project p {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--font-color-body);
}

.project_image {
  width: 100%;
  height: 150px;
  background-color: rgb(85, 1, 106) !important;
  border-radius: 6px;
}

.project_tags {
  /* background-color: yellow; */
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.tag {
  background-color: var(--tag-bg-color);
  margin-right: 10px;
  border-radius: 30px 30px 30px 30px;
  padding: 8px;
  font-size: 12px;
  margin: 2px;
  color: var(--tag-text-color) !important;
  letter-spacing: 1px;
}

.project_header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.project_header h3 {
  color: var(--font-color-body);
}

.live_link {
  display: flex;
  align-items: center;
  width: 18%;
  justify-content: space-between;
}
.live_link i {
  width: 16px;
  height: 12px;
}

.live_link p {
  margin: 0;
}
.live_link p a {
  font-size: 15px;
  text-decoration: underline;
  letter-spacing: 2.5px;
  color: var(--green);
}
.project a {
  font-size: 12px;
  color: var(--font-color-body);
  text-decoration: underline;
}

@media (min-width: 501px) {
  .live_link {
    width: 15%;
  }
  .live_link p a {
    font-size: 16px;
  }
  .project a {
    font-size: 14px;
  }
}

/* Larger screens */
@media (min-width: 501px) {
  .projects_section {
    padding-bottom: 50px;
  }
  .project_section h2 {
    font-size: 30px;
  }
  .projects_wrapper {
    width: 100%;
    /* flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .project {
    width: 95%;
    min-width: 50%;
    padding: 10px;
  }
  .project_image {
    width: 100%;
    height: 150px;
    background-color: red;
  }
  .project p {
    font-size: 18px;
  }
  .project h3 {
    font-size: 20px;
  }
  .tag {
    margin-right: 12px;
    border-radius: 30px 30px 30px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    margin-right: 2px;
    margin-bottom: 2px;
    color: #c4dfff;
  }
}

/* About section */

.about_wrapper {
  border-radius: 6px;
  margin-top: 32px;
  padding: 15px;

  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
.about_wrapper h3 {
  font-size: 18px;
  color: #1a2238;
}
.about_info {
  margin-top: 70px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_image_wrapper {
  /* background-color: yellow; */
  height: 180px;
  width: 180px;
  display: grid;
  place-items: center;
  position: relative;
}
.about_image {
  /* background-color: rgb(4, 255, 45); */
  width: 138px;
  height: 138px;
  border-radius: 50%;
  overflow: hidden;
  border: var(--tag-text-color) solid 2px;
}
.about_details {
  width: 95%;
  /* background-color: yellow; */
}
.about_details p {
  line-height: 1.5;
  font-family: var(--font-body);
  letter-spacing: 1px;
  font-size: 16px;
  color: #1a2c42;
}
.image_icons {
  position: absolute;
}
.image {
  border-radius: 50%;
}
.triangle {
  width: 19px;
  height: 16px;
  left: 10px;
  top: 10px;
}
.orange {
  width: 8px;
  height: 7px;
  right: 20px;
  top: 20px;
}
.blue_circle {
  width: 12px;
  height: 12px;
  right: 0;
  bottom: 35px;
}
.blue_triangle {
  width: 6px;
  height: 5px;
  left: 0;
  bottom: 35px;
}

@media (min-width: 501px) {
  .about_wrapper {
    padding: 20px;
    display: grid;
    place-items: center;
  }
  .about_wrapper h3 {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 70px;
  }
  .about_info {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 0;

    justify-content: center;
    flex-direction: row;
    flex-flow: row-reverse;
    height: 500px;
  }
  .about_image_wrapper {
    height: 330px;
    width: 330px;
  }
  .about_image {
    width: 280px;
    height: 280px;
    border: var(--tag-text-color) solid 4px;
  }
  .about_details {
    width: 50%;
    margin-right: 32px;
  }
  .about_details p {
    line-height: 2;
    letter-spacing: 2.5px;
    font-size: 18px;
  }

  .triangle {
    width: 38px;
    height: 33px;
    top: 10px;
    left: 10px;
    opacity: 0.5;
  }
  .orange {
    width: 16px;
    height: 16px;
    opacity: 0.4;
  }
  .blue_circle {
    width: 25px;
    height: 25px;
    opacity: 0.3;
  }
  .blue_triangle {
    width: 12px;
    height: 11px;
    opacity: 0.7;
  }
}

/* Footer */
.footer {
  height: 150px;
  width: 100%;
  color: white;
  display: grid;
  place-items: center;
}
.footer p a {
  text-decoration: underline;
}
